<% content_for(:title, "Edit a Lesson | Kite Academy") %>

<%= render('layouts/errors', :object => @lesson) %>

<h2>Edit "<%= @lesson.name %>" Lesson</h2>

<form role="form" action="/lessons/<%= @lesson.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
    <div class="form-group">
      <%= render('lessons/form') %>
    </div>
  <button class="btn btn-default btn-lg">Edit Lesson</button>
</form>

<%= render('layouts/home') %>
