<% content_for(:title, "#{@lesson.name} | Kite Academy") %>

<h1><%= @lesson.name %></h1>

<p><%= @lesson.content %></p>

<p><a href="/lessons/<%= @lesson.id %>/edit">Edit Lesson</a></p>
<p><a href="/lessons/<%= @lesson.id %>/destroy" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete Lesson</a></p>

<% if @lesson.previous %>
<p>
  <% @previous_lesson = @lesson.previous %>
  <a href="<%= @previous_lesson.id %>">Previous Lesson</a>
</p>
<% end %>

<% if @lesson.next %>
<p>
  <% @next_lesson = @lesson.next %>
  <a href="<%= @next_lesson.id %>">Next Lesson</a>
</p>
<% end %>

<p><a href="/lessons">Home</a></p>
