<% content_for(:title, "#{@lesson.name} | Kite Academy") %>

<h2><%= @lesson.name %></h2>

<p id="lesson_content"><%= @lesson.content %></p>

<p>
  <a href="/lessons/<%= @lesson.id %>/edit">
    <button class="btn btn-info btn-lg">Edit Lesson</button>
  </a>
  <a href="/lessons/<%= @lesson.id %>/destroy" data-confirm="Are you sure?" data-method="delete" rel="nofollow">
    <button class="btn btn-warning btn-lg">Delete Lesson</button>
  </a>
</p>

<% if @lesson.previous %>
<p>
  <% @previous_lesson = @lesson.previous %>
  <a href="<%= @previous_lesson.id %>">Previous Lesson</a>
</p>
<% end %>

<% if @lesson.next %>
<p>
  <% @next_lesson = @lesson.next %>
  <a href="<%= @next_lesson.id %>">Next Lesson</a>
</p>
<% end %>

<%= render('layouts/home') %>
