<% content_for(:title, "Edit a Level | Kite Academy") %>

<%= render('layouts/errors', :object => @level) %>

<h2>Edit "<%= @level.name %>" Level Name</h2>

<form role="form" action="/levels/<%= @level.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
    <%= render('levels/form') %>
  <button class="btn btn-default btn-lg">Edit Level</button>
</form>


<%= render('layouts/home') %>
