<% content_for(:title, "#{@level.name} | Kite Academy") %>

<h2><%= @level.name %></h2>

<ul>
  <% @level.lessons.each do |lesson| %>
  <li>
    <a href="<%= @level.id %>/lessons/<%= lesson.id %>"><%= lesson.name %></a>
  </li>
  <% end %>
</ul>

<%= render('layouts/home') %>

<p>
  <a href="/levels/<%= @level.id %>/edit">
    <button class="btn btn-default btn-lg">Edit Level</button>
  </a>
  <a href="/levels/<%= @level.id %>/destroy" data-confirm="Are you sure?" data-method="delete" rel="nofollow">
    <button class="btn btn-danger btn-lg">Delete Level</button>
  </a>
</p>
