<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container-fluid">
  <div class="header">
    <%= image_tag("kite1.jpg", :alt => "image of kiteboarders in La Ventana") %>
    <a href="/"><h1>Kite Academy</h1></a>
  </div>

  <div class="container">

    <%= flash[:notice] %>
    <%= flash[:alert] %>

    <%= yield %>

  </div>

</body>
</html>
